In [155]:
import pandas as pd 
from tensorflow.keras.models import load_model
import pickle 
import tensorflow as tf 
import numpy as np

In [156]:
model = load_model('model.h5')
with open('label_encoder_geo.pkl' , 'rb') as file:
    oht_encoder_geo = pickle.load(file)
with open('label_encoder_gender.pkl' , 'rb') as file:
    label_encoder_gender = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [157]:
with open('scaler.pkl' , 'rb') as file:
    scaler = pickle.load(file)

In [158]:
input_data = {
    'CreditScore' : 608 , 
    'Geography': 'Spain',
    'Gender' :'Female',
    'Age' : 41 ,
    'Tenure' : 1 ,
    'Balance' : 80837.06 ,
    'NumOfProducts' : 1, 
    'HasCrCard' : 0,
    'IsActiveMember' : 1 , 
    'EstimatedSalary' : 112542.88
}

In [159]:
geo_encoded = oht_encoder_geo.transform([[input_data['Geography']]])
geo_encoded = pd.DataFrame(geo_encoded , columns = oht_encoder_geo.get_feature_names_out(['Geography']))

d:\machine learning\ml projects\ANN Classification\deppenv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [160]:
geo_encoded

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [161]:
input_data = pd.concat([pd.DataFrame([input_data]).reset_index(drop = True) , geo_encoded]  , axis = 1)

In [162]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,608,Spain,Female,41,1,80837.06,1,0,1,112542.88,0.0,0.0,1.0

In [163]:
input_data['Gender'] = label_encoder_gender.transform([input_data['Gender']])
input_data

d:\machine learning\ml projects\ANN Classification\deppenv\Lib\site-packages\sklearn\preprocessing\_label.py:139: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,608,Spain,0,41,1,80837.06,1,0,1,112542.88,0.0,0.0,1.0

In [164]:
input_data.drop(columns = 'Geography' ,axis = 1, inplace = True)

In [165]:
input_data.shape

(1, 12)

In [166]:
input_data = scaler.transform(input_data)

In [167]:
prediction = model.predict(input_data)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 122ms/step

In [168]:
prediction

array([[0.14895386]], dtype=float32)

In [169]:
if prediction > 0.5:
    print('the customer is likely to churn.')

else:
    print('this customer is not likely to churn')

this customer is not likely to churn

1